{% extends 'main.html' %}
{% block links%}
<a href="/view/{{page_name}}"><button>View Content</button></a>
{% endblock %}
{% block body %}
<h1>History</h1>
<pre>
{% for i in linksArr %}
 <a href="{{i[1]}}" style="color:blue">{{i[0]}}</a></br>
{% endfor %}
</pre>
{% endblock %}
