<!DOCTYPE html>
<html>
   <head>
       <meta charset="UTF-8" />
       <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome-1">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}"/>
       <title>{{title}}</title>
   </head>
   <body>
        <div class="header">
               <a href="{{url_for('main')}}">
                   <image src="{{ url_for('static', filename='img/wiki_logo.svg')}}"></image>
                   <image src="{{ url_for('static', filename='img/brew_logo.svg')}}"></image>
                   <nav>
                       <ul class='nav-link'>
                            {% block links %}
                            {% endblock %}
                            <a href="{{ url_for('new_page')}}"><button>Add Page</button></a>
                       </ul>
                   </nav>
               </a>
            </div>
       <div class="container">
           <div class="left-col">
               <a href="{{url_for('main')}}">Home</a><br/>
               <table>
                   {% for page in page_list %}
                   <tr>
                       {% set url=url_for('handle_request', page=page) %}
                       <td><a href="{{url}}">{{page}}</a></td>
                   </tr>
                   {% endfor %}
               </table>
           </div>
           <div class="center-col">
                <p>{{page_content|safe}}</p>
                <pre>{{history_log}}</pre>
                {% block body %}
                {% endblock %}
           </div>
       </div>
   </body>
</html>
